<div class="container">
    <div class="-table-responsive">
        <table id="country_list" class="table table-striped table-hover">
            {{#countries}}
            <tr>
                <td>
                    <a href="#" data-id="{{id}}" data-row="{{row}}" class="link-unstyled link-block text-3x" data-toggle="modal" data-placement="top" data-target="#country_details">
                        <span data-i18n="values:countries.{{ISO}}"></span>
                    </a>
                </td>
                <td class="text-right">
                    <a href="#score_pane" data-id="{{id}}" data-row="{{row}}" class="link-unstyled control-tabs" data-toggle="modal" data-placement="top" data-target="#country_details">                
                        <div class="text-3x surrounded surrounded-circle surrounded-3x flag-bg {{ISO3}}-flag">
                            <span class="{{#if-gt percent 80}}text-success{{/if-gt}}">{{percent}}{{#percent}}<span class="unit" data-i18n="[html]units.percentage"></span>{{/percent}}</span>
                        </div>
                    </a>
                </td>
            </tr>
            {{/countries}}
        </table>
    </div>        
</div>
<!--
<div class="container">
    <div class="table-responsive">
        <table id="country_list" class="table table-striped table-hover">
            {{#countries}}
            <tr class="flag-bg {{ISO3}}-flag">
                <td class="col-md-2 text-left">
                    <img src="{{flag.src}}" class="col-md-2 well well-sm" alt="{{Country}}" data-i18n="[alt]values:countries.{{ISO}}"/>
                </td>
                <td class="col-md-8 text-center">
                    <a href="#" data-id="{{id}}" data-row="{{row}}" class="link-unstyled link-block text-3x" data-toggle="modal" data-placement="top" data-target="#country_details" data-i18n="values:countries.{{ISO}}"></a>
                </td>
                <td class="col-md-2 text-right text-lg">
                        <small>
                          {{#warning}}<span class="glyphicon glyphicon-info-sign text-info" data-toggle="tooltip" data-i18n="[title]values:scoreLegends.warning"></span>{{/warning}}
                          {{#error}}<span class="glyphicon glyphicon-warning-sign text-warning" data-toggle="tooltip" data-i18n="[title]values:scoreLegends.error"></span>{{/error}}
                        </small>
                    <span class="{{#if-gt percent 80}}text-success{{/if-gt}}">{{percent}}{{#percent}}<span class="unit" data-i18n="[html]units.percentage"></span>{{/percent}}</span>
                </td>
            </tr>
            {{/countries}}
        </table>
    </div>
        <small>
          <ul class="list-inline pull-right">
            <li><span class="glyphicon glyphicon-info-sign text-info"></span> <span data-i18n="values:scoreLegends.warning"></span></li>
            <li><span class="glyphicon glyphicon-warning-sign text-warning"></span> <span data-i18n="values:scoreLegends.error"></span></li>
          </ul>
        </small>
        {{^countries}}
        <div class="alert alert-warning">
        <h4 data-i18n="alerts:noCountry.title"></h4>
        <p data-i18n="[html]alert.noCountry.content"></p>
        </div>
        {{/countries}}
        
</div>
-->