<div id="disabled_priorities_modal" class="modal fade modal-wide">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title pull-left" data-toggle="tooltip" data-i18n="[data-original-title]sections:disabledPriorities.info">
                    <span class="glyphicon glyphicon-search"></span>
                    <span data-i18n="sections:disabledPriorities.title">&nbsp;</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="clearfix">
                    <!--
                        <div class="clearfix">
                          <div id="disabled_priorities_filters" class="form-group">
                            {{#disabledPrioritiesFilters}}
                            <button type="button" class="btn btn-info btn-xs filter" data-filter=".{{.}}" data-i18n="values:priorityFilters.{{.}}"></button>
                            {{/disabledPrioritiesFilters}}
                          </div>
                        </div>
                        -->
                    <form id="disabled_priorities_filter_form" class="sayt form-inline" role="form">
                        <div class="form-group pull-right">
                            <label class="control-label" data-i18n="fields:disabledPrioritiesFilters.label"></label>
                            <select id="disabled_priorities_filters" class="form-control input-sm">
                                <option value="all">&nbsp;</option>
                                {{#disabledPrioritiesModal.filters}}
                                <option value=".{{.}}" data-i18n="values:priorityFilters.{{.}}"></option>
                                {{/disabledPrioritiesModal.filters}}
                            </select>
                        </div>
                        <div class="form-group pull-right hidden">
                            <label class="control-label" data-i18n="fields:disabledPrioritiesLayout.label"></label>
                            <select id="disabled_priorities_layout" class="form-control input-sm">
                                <option value="list" data-i18n="values:mixitupLayouts.list">&nbsp;</option>
                                <option value="grid" data-i18n="values:mixitupLayouts.grid">&nbsp;</option>
                            </select>
                        </div>
                    </form>
                </div>
                <br />
                <form id="disabled_priorities_container" class="sayt clearfix">
                    <ul id="disabled_priorities" class="disabled_priorities list-group sortable-priorities">
                        {{#disabledPrioritiesModal.disabledPriorities}}
                        <li id="{{id}}" class="list-group-item clearfix mix {{filters}}" data-myorder="{{order}}" >
                            <div class="form-inline pull-right -btn-group -btn-group-lg">
                                <div class="form-group">
                                    <div class="checkbox" data-toggle="tooltip" data-i18n="[data-original-title]fields:reversePriority.info">
                                        <input id="{{id}}Switch" type="checkbox" value="1" {{checked}} class="switch reverse-priority" data-size="small" -data-inverse="{{dataInverse}}" data-off-color="{{dataOffColor}}" data-on-color="{{dataOnColor}}" data-i18n="[data-label-text]fields:reversePriority.label" -data-i18n="[data-off-text]values:highLowOptions.high;[data-on-text]values:highLowOptions.low"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-default switch-priority">
                                        <span class="glyphicon glyphicon-plus text-3x"></span>
                                    </button>
                                </div>
                            </div>
                            <h4 class="list-group-item-heading" data-i18n="priorities:{{id}}.title"></h4>
                            <p class="list-group-item-text" data-i18n="[html]priorities:{{id}}.info"></p>
                        </li>
                        {{/disabledPrioritiesModal.disabledPriorities}}
                    </ul>
                    {{^disabledPrioritiesModal.disabledPriorities}}
                    <div class="alert alert-warning clearfix">
                        <h4><span class="glyphicon glyphicon-info-sign glyphicon-4x pull-left"></span>  <span data-i18n="alerts:noDisabledPriorities.title">Warning!</span></h4>
                        <p data-i18n="[html]alerts:noDisabledPriorities.info"></p><p>No more criteria.</p>
                    </div>
                    {{/disabledPrioritiesModal.disabledPriorities}}
                </form>
            </div>
            <div class="modal-footer">
                <div>
                    <div class="btn-group">
                        <button type="button" id="enable_selected_priorities" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> <span data-dismiss="modal" data-i18n="buttons:enableSelection.label"></span></button>
                        <button type="button" id="enable_all_priorities" class="btn btn-default"><span data-dismiss="modal" data-i18n="buttons:enableAll.label"></span></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> <span data-dismiss="modal" data-i18n="buttons:close.label"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>